# ----------------------

# Python

# ----------------------

**pycache**/
*.py[cod]
*$py.class

# ----------------------

# Virtual Environments

# ----------------------

venv/
.venv/
env/

# ----------------------

# Environment Variables

# ----------------------

.env
.env.*

# ----------------------

# Logs

# ----------------------

*.log

# ----------------------

# IDE / Editors

# ----------------------

.vscode/
.idea/

# ----------------------

# OS Files

# ----------------------

.DS_Store
Thumbs.db

# ----------------------

# Python Testing

# ----------------------

.pytest_cache/
coverage/
htmlcov/

# ----------------------

# Local Databases

# ----------------------

*.db

# ----------------------

# Docker

# ----------------------

docker-compose.override.yml

# ----------------------

# Secrets

# ----------------------

secrets/
vault/

# ----------------------

# Terraform

# ----------------------

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# ----------------------

# Kubernetes

# ----------------------

kubeconfig
*.pem
*.key
*.crt
